
<mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false"
                         *ngFor="let user of users; let i = index">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{user.id}}
        </mat-panel-title>
        <mat-panel-description>
            {{user.name}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="body-container">
      <div class="contact-container">
         <h3>contact Details:</h3>
         <div class="details">
             <span>Email: {{user.email}}</span>
             <br/>
             <span>website: {{user.website}}</span>
             <br/>
             <span>phone: {{user.phone}}</span>
             <br/>
             <span>Company Name: {{user.company.name}}</span>
         </div>
      </div>
      <div class="buttons-container">
        <button mat-raised-button (click)="handleCreateUser({email:user.email,id:user.id})" color="primary">Create Account</button>
    </div>
     </div>
      <!-- <button mat-raised-button (click)="savePost({id:post.id,title:post.title,body:post.body})" color="primary">Save</button>
      <button mat-raised-button (click)="postComments(post.id)" color="accent">Comments</button> -->
    </mat-expansion-panel>
  </mat-accordion>
<!-- <div>
  <button mat-raised-button (click)="nextPage()" color="primary">Next page</button>
  <button mat-raised-button (click)="prevPage()" color="primary">Prev page</button>
</div> -->

