

<app-nav></app-nav>

<!-- <login></login> -->
<!-- <h2>Style Binding Example</h2>  
<button [style.color]="'blue'">
    Color would be Green or Red Conditionally
</button> -->


<!-- Udemi: -->
<!-- [style.fontWeight]="'bold'"
[style.background-color]="'yellow'" -->

<!-- [disabled]="notes.length <= 0"
class="btn btn-secondary form-control" -->

<!-- 
<input 
class="form-control" 
type="text" 
[(ngModel)]="note"
(keyup.enter)="addNote()"> -->
