.welcome-container{
display:flex;
flex-direction: column;
height: 100%;
margin-top:50px;
}

.welcome-text-container{
text-align: center;
}
.welcome-text{
    font-size: 40px;
    font-weight: bolder;
}
